<div class="container">

    <div style="width: 50%; background-color: #eeeeee; margin: 0% auto;">
    
        <form class="form-signin" (ngSubmit)="signUp(signUpForm.value)" [formGroup]="signUpForm">
        
            <div class="img-box" style="padding: 10% 10% 15% 10%;">
                <img class="rounded mx-auto d-block" src="assets/images/locked.png" alt="Contact Profile Image" style="width: 60%;">
            </div>

            <div class="error-msg-box" style="" [ngClass]="{'show': !signUpForm.valid}">
                <!-- <small> Data is incorrect </small> -->
                <!-- <small *ngIf="(signUpForm['controls']['emailId'].hasError('required') && (signUpForm['controls']['emailId'].dirty || signUpForm['controls']['emailId'].touched) ) && (signUpForm['controls']['password'].hasError('required') && (signUpForm['controls']['password'].dirty || signUpForm['controls']['password'].touched) ) && (signUpForm['controls']['confirmPassword'].hasError('required') && (signUpForm['controls']['confirmPassword'].dirty || signUpForm['controls']['confirmPassword'].touched) )" style="color: red;"> 
                	Please fill all fields 
                </small>
                <small *ngIf="(signUpForm['controls']['emailId'].hasError('required') && (signUpForm['controls']['emailId'].dirty || signUpForm['controls']['emailId'].touched) )" style="color: red;"> 
                	Email Id is Required 
                </small>
                <small *ngIf="(signUpForm['controls']['password'].hasError('required') && (signUpForm['controls']['password'].dirty || signUpForm['controls']['password'].touched) )" style="color: red;"> 
                	Password is Required 
                </small>
                <small *ngIf="(signUpForm['controls']['confirmPassword'].hasError('required') && (signUpForm['controls']['confirmPassword'].dirty || signUpForm['controls']['confirmPassword'].touched) )" style="color: red;"> 
                	Confirm Password is Required 
                </small>
                <small style="color: red;" *ngIf="signUpForm['controls']['password'].valid && (signUpForm['controls']['confirmPassword'].dirty || signUpForm['controls']['confirmPassword'].touched) && !signUpForm.valid">
                	Passwords do not match
                </small> -->
            </div>

            <div class="form-label-group eml">
                <input type="email" id="inputEmail" class="form-control" formControlName="emailId" [ngClass]="{'value': signUpForm['controls']['emailId'].value.length>0}" >
                <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group psw">
                <input type="password" id="inputPassword" class="form-control" formControlName="password" [ngClass]="{'value': signUpForm['controls']['password'].value.length>0}" >
                <label for="inputPassword">Password</label>
            </div>

            <div class="form-label-group confpsw">
                <input type="password" id="inputConfPassword" class="form-control" formControlName="confirmPassword" [ngClass]="{'value': signUpForm['controls']['confirmPassword'].value.length>0}" >
                <label for="inputConfPassword">Confirm Password</label>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

            <div class="links" style="text-align: center; margin-top: 15%;">
            	<a [routerLink]="['/login']">Already have an account?</a>
            </div>
        
        </form>
    
    </div>

</div>